<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kant.epiandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".BoardActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".PlanningActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".ProjectItemActivity"/>
        <activity android:name=".SusieItemActivity"/>
        <activity android:name=".NotifActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".PlanningItemActivity"/>
    </application>

</manifest>
